.title {
  font-family: 'Oxanium', cursive;
  font-size: 20px;
  font-style: normal;
  align-items: center;
  margin: auto;
  padding: 5%;
}

.a {
  color: darkblue;
  font-size: 60px;
}

.navigation {
  text-align: right;
}

body {
  text-align: center;
}
